.intro {
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: $green;
  opacity: 0;

  p {
    font-size: 1.6rem;
    letter-spacing: -0.02em;
    opacity: 0;

    @include d-up {
      font-size: 2.8rem;
    }
  }

  &_row {
    height: 90vh;
    align-items: center;

    @include d-up {
      height: 90vh;
    }
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
