.title {
  color: $turquiose;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
}

.section_list {
  text-align: center;
}

.section_list_group {
  list-style: none;
}

.item_content {
  display: flex;
  position: relative;
  align-items: flex-start;
  padding: 10px 0;
  font-size: 16px;
}

.item_text {
  display: inline-block;
  margin-right: 32px;
  flex: 1 0 50%;
  text-align: right;
  z-index: 1;
}

.merchant_link {
  display: inline-block;
  flex: 1 0 50%;
  position: relative;
  margin-right: 10px;
  text-align: left;

  a {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    color: $white;
  }

  .arrow svg {
    height: 16px;
  }
}

.item {
  margin-bottom: 10px;
}

.item_has_image {
  position: relative;

  &:before {
    background-color: $green;
    content: "";
    display: block;
    width: 200vw;
    position: absolute;
    height: calc(100% - 20px);
    top: 20px;
    left: -50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;

    @include d-up {
      height: 83%;
      top: 6px;
    }
  }

  @include d-up {
    &[data-layout="left"]:before {
      left: 150%;
    }
    &[data-layout="right"]:before {
      left: -50%;
    }
  }
}

.image {
  width: 500px;
  // position: absolute;
  // top: 0;
  // right: 0;
  // z-index: -1;
}

.pinned_container {
  background-color: orange;

  &--left {
    background-color: hotpink;
    position: absolute;
    top: 0;
    right: 0;
  }

  &--right {
    background-color: mediumslateblue;
    position: absolute;
    top: 0;
    left: 0;
  }

  &--center {
    background-color: limegreen;
  }
}
