.main_content {
  opacity: 0;
  padding-bottom: 40vh;
  background: $black; // Used to overwrite Shopify application styles
}

.logo_row {
  margin-top: 40vh;
}

.title {
  color: $turquiose;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  text-align: center;
  margin: 40px 0 60px;
}

.section_list {
  text-align: center;
}

.top_section_item:not(:last-child) {
  margin-bottom: 200px;
}

.section_list_group {
  list-style: none;
}

.section_minor {
  margin-bottom: 134px;
}

.section_wrapper {
  position: relative;
}

.item_content {
  display: flex;
  position: relative;
  align-items: flex-start;
  font-size: 13px;
  line-height: 1.6;
  letter-spacing: 0.4px;
  margin: 0;

  @include desktop {
    font-size: 16px;
    line-height: 24px;
  }
}

.item_text {
  display: inline-block;
  margin-right: 10px;
  text-align: left;
  width: calc(50% - 10px);
  z-index: 1;
  position: relative;
  text-transform: uppercase;
  font-weight: 700;

  a {
    position: relative;
    overflow-wrap: break-word;
    text-decoration: none;
    color: $white;

    span {
      position: absolute;
      right: -18px;
      top: 0;
    }
  }

  span {
    display: inline-block;
  }

  .arrow svg {
    height: 16px;
  }
}

.merchant_products {
  display: inline-block;
  width: calc(50% - 12px);
  margin-right: 12px;
  position: relative;
  text-align: right;

  @include tablet {
    width: calc(50% - 20px);
    margin-right: 20px;
  }

  @include desktop {
    width: calc(50% - 32px);
    margin-right: 32px;
  }

  a {
    position: relative;
    display: inline-block;
  }

  span {
    display: block;
  }

  a,
  span {
    text-decoration: none;
    color: $white;
  }

  .arrow svg {
    height: 16px;
  }
}

.item {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 20px;

  @include desktop {
    display: block;

    &[data-layout="center"] {
      display: flex;
      flex-direction: column-reverse;
    }
  }
}

.item_has_image {
  position: relative;

  &:before {
    background-color: $green;
    content: "";
    display: block;
    position: absolute;
    height: 115%;
    top: -6%;
    width: 200vw;
    left: -50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
  }

  @include desktop {
    &[data-layout="center"]:before {
      width: 100vw;
    }

    &[data-layout="left"]:before {
      left: 150%;
    }
    &[data-layout="right"]:before {
      left: -65%;
      width: 110vw;
    }
  }
}

.image {
  max-width: 100%;
  margin-bottom: -2px;

  @include desktop {
    margin-bottom: auto;
    width: 500px;
  }
}

.pinned_container {
  width: 100vw;
  position: relative;
  left: -2rem;

  @include desktop {
    width: 500px;
    left: auto;

    &--left {
      position: absolute;
      top: 0;
      right: 0;
    }

    &--right {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

.caption--left {
  @include desktop {
    text-align: right;
  }
}

.caption--right {
  @include desktop {
    text-align: left;
  }
}

.caption--center {
  text-align: center;
}