.logo {
  text-align: center;

  &_image {
    max-width: 340px;
    margin: 0 auto;
  }

  &_text {
    font-size: 1.3rem;
    line-height: 1.5;

    @include desktop {
      font-size: 1.6rem;
      line-height: 1.5;
    }
  }

  &_cta {
    span {
      text-align: center;
    }
  }
}
