.nav {
  position: fixed;
  top: 0;
  left: 0;
  background: $black;
  width: 100%;
  z-index: 800;
  padding: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.9), 0px 0px 30px rgba(0, 0, 0, 0.7),
    0px 0px 50px rgba(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;

  @include tablet {
    height: 100px;
  }

  // &::after {
  //   content: "";
  //   display: block;
  //   position: relative;
  //   height: 100px;
  //   width: 100%;
  //   background: linear-gradient($black, transparent);
  // }

  &_row {
    align-items: center;
  }

  &_headline {
    text-align: center;
    display: none;

    @include tablet {
      display: block;
      font-size: 1.6rem;
    }

    @include desktop {
      display: block;
      font-size: 2.4rem;
    }
  }

  &_controls {
    text-align: right;
    display: flex;
    justify-content: flex-end;
  }
}

.logo svg {
  height: 30px;
  position: relative;
  top: 2px;

  @include tablet {
    height: 40px;
  }
}

.button {
  background: none;
  border: none;
  padding: 0;
  margin-right: 16px;
  position: relative;
  top: -1px;
  padding: 5px;

  @include tablet {
    margin-right: 20px;
  }

  &:first-child {
    svg {
      left: 2px;
    }
  }

  &:last-child {
    margin-right: 0;
    svg {
      left: -2px;
    }
  }
}

.icon {
  overflow: hidden;

  svg {
    height: 16px;
    width: 19px;
    position: relative;
    top: 2px;

    @include tablet {
      height: 20px;
      width: 23px;
    }
  }
}
