.nav {
  position: fixed;
  top: 0;
  left: 0;
  background: $black;
  width: 100%;
  z-index: 900;
  padding: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7);

  &_row {
    align-items: center;
  }

  &_headline {
    text-align: center;
  }

  &_controls {
    text-align: right;
  }
}

.logo svg {
  height: 40px;
}

.button {
  background: none;
  border: none;
  padding: 0;
  margin-right: 40px;

  &:last-child {
    margin-right: 0;
  }
}

.icon svg {
  height: 20px;
}
