$black: #000;
$white: #fbf7ed;
$turquiose: #90dfd6;
$green: #004c3f;
$green--alt: #008060;
$font-family: "Shopify Sans", sans-serif;

$xl: 1456px;
$lg: 996px;
$md: 768px;
$sm: 544px;

$bg--sm: 'https://cdn.shopify.com/static/images/brand-equity/hero-bg.jpg';
$bg--lg: 'https://cdn.shopify.com/static/images/brand-equity/hero-bg@2x.jpg';