@import "./styles/variables";
@import "./styles/fonts";
@import "./styles/queries";

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: $font-family;
  font-weight: 400;
  background: $black;
  color: $white;
  font-size: 1.6rem;
  overflow-x: hidden;
  -webkit-overflow-scrolling: auto;
}

h1 {
  margin: 0.3em 0;

  @include tablet {
    margin: 0.67em 0;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

section {
  width: 100%;

  &[data-layout] {
    position: relative;
  }
}

button[disabled] {
  opacity: 0.3;
}

figcaption {
  text-align: center;
  padding: 6px 0;
}

li[data-layout] ~ li[data-layout] {
  text-transform: uppercase;

  p:before {
    display: none !important;
  }

  figure {
    display: none;
  }

  a > span > svg > path {
    fill: #42474c;
  }
}

[data-center] + [data-center],
[data-left] + [data-left],
[data-right] + [data-right] {
  margin-top: 0;
}

[data-section-main] {
  background-color: black;
}

[data-wistia-id] {
  -webkit-appearance: none;
  background-color: white;
  border: 0;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  position: absolute;
  top: calc(50% - 30px);
  left: calc(50% - 30px);

  &:after {
    content: '';
    width: 0;
    height: 0;
    display: block;
    border: 10px solid transparent;
    border-left: 16px solid $green--alt;
    position: relative;
    left: 18px;
    top: 1px;
  }

  @include desktop {
    width: 100px;
    height: 100px;
    top: calc(50% - 50px);
    left: calc(50% - 50px);

    &:after {
      border-width: 16px;
      border-left-width: 28px;
      left: 34px;
    }
  }
}

nav[data-shown] {
  pointer-events: auto;
}